<div class="col-xs-12 col-sm-6">
  <div class="well bs-component">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
      <legend><h2>Sign in</h2></legend>
        <div class="form-inputs">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-envelope-o fa-fw"></i>
            </span>
            <%= f.input :email, required: false, autofocus: true, label: false , class: "form-control", placeholder: "Email" %>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-key fa-fw"></i>
            </span>
            <%= f.input :password, required: false, label: false , class: "form-control" %>
          </div>
          <br>
          <%= f.input :remember_me, inline_label: 'Yes, remember me', as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>